{% extends 'base.html' %}

{% block content %}
        
        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5">
            <div class="container text-center py-5">
                <h1 class="display-2 text-white mb-4 animated slideInDown">Blog Post</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white" aria-current="page">Blog Post</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Blog Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
                    <h5 class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Our Blog</h5>
                    <h1 class="display-5">Latest Blog & News</h1>
                </div>
                <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay=".5s">
                    <div class="blog-item">
                        <img src="/static/img/blog-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="d-flex justify-content-between p-4 pb-2">
                                <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                            </div>
                            <div class="px-4 pb-0">
                                <h4>How To Build A Cleaning Plan</h4>
                                <p>
                                    <h5>Assess Your Battleground</h5> <br>
                                   <b>The size of your home:</b> A studio apartment requires a different approach than a sprawling family house. <br>
                                   <b>Number of occupants:</b> More people generally means more mess! <br>
                                <b>Lifestyle habits:</b> Do you cook every night, or mostly order takeout? Do you have pets that shed? Understanding your daily routines will help prioritize cleaning tasks.

                                </p>
                            </div>
                            <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn">
                                <a href="#" type="button" class="btn btn-primary border-0">Learn More</a>
                                <a href="#" class="my-auto btn-primary border-0"><i class="fa fa-comments me-2"></i>23 Comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <img src="/static/img/blog-3.jpg" class="img-fluid w-100 rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="d-flex justify-content-between p-4 pb-2">
                                <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                            </div>
                            <div class="px-4 pb-0">
                                <h4>How To Build A Cleaning Plan</h4>
                                <p> <h5>Divide and Conquer</h5></p>
                                <b>Daily Tasks:</b>
                                 Quick wins like wiping down counters, making the bed, and putting away dishes can make a big difference in overall tidiness.<br>
                                <b>Weekly Deep Cleaning:</b> Focus on areas that require more effort, like mopping floors, cleaning bathrooms, and dusting furniture.<br>
                                <b>Monthly Maintenance:</b> Schedule tasks like vacuuming upholstery, cleaning appliances, and decluttering specific areas.
                            </div>
                            <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn">
                                <a href="#" type="button" class="btn btn-primary border-0">Learn More</a>
                                <a href="#" class="my-auto text-dark"><i class="fa fa-comments me-2"></i>23 Comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <img src="/static/img/blog-2.jpg" class="img-fluid w-100 rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="d-flex justify-content-between p-4 pb-2">
                                <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                            </div>
                            <div class="px-4 pb-0">
                                <h4>How To Build A Cleaning Plan</h4>
                                <p><h5>Tailor It to Your Time</h5>
                                    <b>Short Bursts:</b> Schedule 15-minute cleaning sprints throughout the day to tackle specific areas. <br>
                                    <b>Weekend Warrior:</b> If you prefer longer cleaning sessions, dedicate a few hours on the weekend to a more thorough cleaning blitz.
                                </p>
                            </div>
                            <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn">
                                <a href="#" type="button" class="btn btn-primary border-0">Learn More</a>
                                <a href="#" class="my-auto text-dark"><i class="fa fa-comments me-2"></i>23 Comments</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <img src="/static/img/blog-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                         <div class="rounded-bottom bg-light">
                            <div class="d-flex justify-content-between p-4 pb-2">
                                <span class="pe-2 text-dark"><i class="fa fa-user me-2"></i>By Admin</span>
                                <span class="text-dark"><i class="fas fa-calendar-alt me-2"></i>10 Feb, 2023</span>
                            </div>
                            <div class="px-4 pb-0">
                                <h4>How To Build A Cleaning Plan</h4>
                                <p><h5>Assess Your Battleground</h5> <br>
                                    <b>The size of your home:</b> A studio apartment requires a different approach than a sprawling family house. <br>
                                    <b>Number of occupants:</b> More people generally means more mess! <br>
                                 <b>Lifestyle habits:</b> Do you cook every night, or mostly order takeout? Do you have pets that shed? Understanding your daily routines will help prioritize cleaning tasks.
                                </p>
                            </div>
                            <div class="p-4 py-2 d-flex justify-content-between bg-primary rounded-bottom blog-btn">
                                <a href="#" type="button" class="btn btn-primary border-0">Learn More</a>
                                <a href="#" class="my-auto text-dark"><i class="fa fa-comments me-2"></i>23 Comments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock  %}
